@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
.dashboard-page{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.dashboard-wrap{
    margin: auto;
    width: 100%;
    background: lightgray;
    /* height: 100%; */
}
.dashboard-row{
    display: flex;
}
.dashboard-item{
    width: 25%;
    height: 10em;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    border: 5px solid white;
    background-color: darkred;
    color: white;
    margin: 2em;
    display: flex;
}
.dashboard-item>div{
    margin: auto;
}
.dashboard-greeting-wrap{
    background: lightslategray;
    color: white;
    text-align: center;
    padding: 1em;
}
.greeting-dashboard{
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2em;
}
.todo-heading-dashboard{
    padding: 0.5em 1em;
    font-size: 1.2em;
    background: black;
    color: white;
}
.pattern{
    min-height: 10em;
    background-image: repeating-linear-gradient(white 0px, white 24px, lightslategray 25px);
    font-family: 'Dancing Script', cursive;
    font-size: 19px;
    padding: 25px 1em 0em 1em;
}