.profile-section-wrap{
    display: flex;
}
.signup-alert-wrap{
    margin: 1em;
}
.alert-sec{
    margin: 1em;
    border: 1px solid black;
    padding: 1em;
    border-radius: 0.3em;
}
.profile-label{
    font-weight: bold;
    font-size: 1.1em;
    margin: 0.5em;
}
.profile-content{
    margin: 1em;
}
.edit{
    color: rgba(111,45,79);
    font-weight: bold;
    margin: 0em 0.5em;
}
.alert-phone{
    border: none;
    width: auto;
}
.pInfo-sec{
    border-bottom: 2px solid rgba(111,45,79);
}